<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="Getting all what we have learned in the last 4 weeks into action">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="fullFriends_style.css">
        <title>Full Friends</title>
    </head>
    <body>
        <h1>Friends</h1>
        <a href="/friends">Click here to meet my friends</a>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th colspan="2">Friend Since</th>
                    </tr>
                </thead>
                <tbody>
                
                    <tr>
                   
                    </tr>
                </tbody>
            </table>
            <form>
                <h1>Add a Friend</h1>
                <label for="full_name">Name:</label>
                    <input type="text" id="full_name" name="full_name">
                <label for="age">Age:</label>
                    <input type="int" id="age" name="age">
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>